<html>
  <head>
  </head>
  <body>
    <h1>Welcome, friend</h1>
    <p>
      To star the mountebank repo,
      <a href="<%= baseURL %>/login/oauth/authorize?scope=user:email&client_id=<%= clientId %>">click here</a>!</a>
    </p>
  </body>
</html>
